* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
input[type=button],input[type=text], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

.an {
    transition: 0.3s;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.fc0 {
    color: #000000;
}

.fc3 {
    color: #333333;
}

.fc6 {
    color: #666666;
}

.fc9 {
    color: #999999;
}

.fff {
    color: #fff;
}

.m0 {
    margin: 0;
}

.ml0 {
    margin-left: 0;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml-1 {
    margin-left: -1px;
}

.mt-1 {
    margin-top: -1px;
}

.p1 {
    padding: 1px;
}

.pl5 {
    padding-left: 5px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.rel, .pr {
    position: relative;
}

.abs, .pa {
    position: absolute;
}

.float_box > *, .float_list > *, .float_list02 > *,
.float_list03 > *, .float_list04 > *, .float_list05 > *,
.float_list06 > *, .float_list07 > *, .float_list08 > * {
    float: left;
}

.float_box > *:last-child {
    /*float: right!important;*/
    /*margin-right: 0!important;*/
    /*padding-right: 0!important;*/
}

.float_list > *:last-child {
    /*margin-right: 0!important;*/
    /*padding-right: 0!important;*/
}

.float_list02 > *:nth-of-type(1), .float_list02 > *:nth-of-type(2),
.float_list03 > *:nth-of-type(1), .float_list03 > *:nth-of-type(2), .float_list03 > *:nth-of-type(3),
.float_list04 > *:nth-of-type(1), .float_list04 > *:nth-of-type(2), .float_list04 > *:nth-of-type(3), .float_list04 > *:nth-of-type(4),
.float_list05 > *:nth-of-type(1), .float_list05 > *:nth-of-type(2), .float_list05 > *:nth-of-type(3), .float_list05 > *:nth-of-type(4), .float_list05 > *:nth-of-type(5),
.float_list05 > *:nth-of-type(1), .float_list05 > *:nth-of-type(2), .float_list05 > *:nth-of-type(3), .float_list05 > *:nth-of-type(4), .float_list05 > *:nth-of-type(5), .float_list05 > *:nth-of-type(6),
.float_list05 > *:nth-of-type(1), .float_list05 > *:nth-of-type(2), .float_list05 > *:nth-of-type(3), .float_list05 > *:nth-of-type(4), .float_list05 > *:nth-of-type(5), .float_list05 > *:nth-of-type(6), .float_list05 > *:nth-of-type(7),
.float_list05 > *:nth-of-type(1), .float_list05 > *:nth-of-type(2), .float_list05 > *:nth-of-type(3), .float_list05 > *:nth-of-type(4), .float_list05 > *:nth-of-type(5), .float_list05 > *:nth-of-type(6), .float_list05 > *:nth-of-type(7), .float_list05 > *:nth-of-type(8) {
    margin-top: 0 !important;
}

.float_list02 > *:nth-of-type(2n),
.float_list03 > *:nth-of-type(3n),
.float_list04 > *:nth-of-type(4n),
.float_list05 > *:nth-of-type(5n),
.float_list05 > *:nth-of-type(6n),
.float_list05 > *:nth-of-type(7n),
.float_list05 > *:nth-of-type(8n) {
    margin-right: 0 !important;
}

.inline_list {
    font-size: 0;
}

.inline_list > * {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 1rem;
}

.inline_list > *:last-child {
    /*margin-right: 0!important;*/
    /*padding-right: 0!important;*/
}

.clearBox, .float_box, .float_list, .float_list02,
.float_list03, .float_list04, .float_list05,
.float_list06, .float_list07, .float_list08,
.ul-col-1,
.ul-col-2,
.ul-col-3,
.ul-col-4,
.ul-col-5,
.ul-col-6,
.ul-col-7,
.ul-col-8,
.ul-col-9,
.ul-col-10,
.ul-col-11,
.ul-col-12 {
    zoom: 1;
}

.clearBox:after, .float_box:after, .float_list:after, .float_list02:after,
.float_list03:after, .float_list04:after, .float_list05:after,
.float_list06:after, .float_list07:after, .float_list08:after,
.ul-col-1:after,
.ul-col-2:after,
.ul-col-3:after,
.ul-col-4:after,
.ul-col-5:after,
.ul-col-6:after,
.ul-col-7:after,
.ul-col-8:after,
.ul-col-9:after,
.ul-col-10:after,
.ul-col-11:after,
.ul-col-12:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear {
    clear: both;
}

input, form, textarea, select, option {
    outline: none;
}

input[type="text"], input[type="password"] {
    text-indent: 5px;
}

input[type='checkbox'] {
    vertical-align: top;
}

.pointer, input[type='image'] {
    cursor: pointer;
}

.p_re {
    position: relative;
}

.p_ab {
    position: absolute;
}

.p_fx {
    position: fixed;
}

.disNone {
    display: none;
}

.overflowEll, .overflowEllUl li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.overflowEllUl02 ul li a, .overflowEll02, .overflowEll03, .overflowEll04 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.overflowEll03 {
    -webkit-line-clamp: 3;
}

.overflowEll04 {
    -webkit-line-clamp: 4;
}

.ful_box {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.equal_img {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10%;
    background: #444;
}



.equal_img.equal_11_6 {
    padding-top: 66.6667%;
}

.equal_img.equal_9_5 {
    padding-top: 66.6667%;
}

.equal_img.equal_66 {
    padding-top: 66%;
}

.equal_img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
	object-fit: cover;
}

.equal_img img:hover {
    transform: scale(1.1);
}

/*all_set*/
html, body {
    width: 100%;
    font-family:Arial, sans-serif;
    color: #333;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    color: #333;
    transition: .3s;
}

.ful_row {
    position: relative;
}

.big_box {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.big_box02, .pd_box02 {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/*media*/
@media all and (max-width: 1199px) {
    /*all_set*/
    .big_box {
        width: 100%;
    }
    html, body {
        font-size: 13px;
    }
}
@media all and (max-width: 767px)  {
    html, body {
        font-size: 12px;
    }
}










