/*Common For Max 960*/
@media only screen and (max-width: 1199px) {

    /*top*/
    .head_pc {
        display: none;
    }

    /*top-m*/
    #hd-m .nav {
        float: none;
        height: auto;
    }

    #hd-m .nav li {
        float: none;
        height: auto;
        line-height: 50px;
        border-bottom: 1px #f3f3f3 solid;
    }

    #hd-m .nav .v1 {
        color: #1a1a1a;
        font-size: 16px;
        text-align: left;
        padding: 0 40px 0 18px;
    }

    #hd-m .nav .v1-ok, #hd-m .nav .v1-ok:hover {
        color: #1a1a1a;
    }

    #hd-m .nav .v1-ok.v1-open {
        color: #fff;
        background-color: #9a0000;
    }

    #hd-m .nav .subBox {
        position: static;
        width: 100%;
        text-align: left;
        background: #f8f8f8;
    }

    #hd-m .nav .subBox a {
        line-height: 22px;
    }

    .menuBtn {
        display: block;
        width: 20px;
        right: 15px;
    }

    .menuBtn.open {
        top: 8px;
    }

    .menuBtn.open b {
        width: 20px;
    }

    #hd {
        padding: 5px 10px;
        background: rgba(255, 255, 255, .8);
    }

    #hd-m .logo {
        display: block;
        float: left;
        height: 60px;
        line-height: 60px;
    }

    #hd-m .logo img {
        height: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    #hd-m .nav .subBox dl {
        padding: 0;
        border: none;
        background: none;
    }

    #hd-m .nav .subBox .v2 {
        color: #4c4c4c;
        font-size: 14px;
        line-height: 24px;
        padding: 9px 16px 9px 28px;
    }

    #hd-m .nav .subBox .v2-ok i {
        display: none;
    }

    #hd-m {
        display: block;
    }

    #hd-m .inner {
        display: none;
    }

    #hd-m .nav .subBox2 {
        width: 40%;
        position: fixed;
        left: 60%;
        /* top: 60px !important; */
        bottom: 0;
        background: rgba(238, 238, 238, .9);
        -o-transition: none;
        -ms-transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        transition: none;
        min-height: 0;
    }

    #hd-m .nav .subBox2 a {
        font-size: 14px;
        color: #4c4c4c;
        line-height: 24px;
        padding: 13px 15px;
        background: url(../images/violin/bg8.png) no-repeat 15px bottom;
    }

    #hd-m .nav .subBox dd:hover .subBox2 {
        display: none;
    }

    .banner_bg {
        /* margin-top: 60px; */
    }

    /*foot*/
    .fd-con dl {
        padding-left: 10px;
    }

    .fd-con .r-con {
        width: 28%;
    }

    .fd-con .l-con {
        width: 71%;
    }

    .fd-con .share a {
        width: 40px;
        height: 40px;
        -webkit-background-size: auto 50%;
        -moz-background-size: auto 50%;
        -o-background-size: auto 50%;
        background-size: auto 50%;
    }


}

@media only screen and (max-width: 959px) {
    /*foot*/
    .fd-con .l-con {
        width: auto;
        float: none;
        overflow: hidden;
    }

    .fd-con .r-con {
        width: auto;
        float: none;
        text-align: center;
        padding-top: 15px;
    }

    .fd-con .share {
        padding-bottom: 15px;
    }


    .m-section4 .txt {
        padding: 20px 0;
        line-height: 30px;
    }

    .m-section4 {
        height: auto;
    }

    .m-section4 h3 {
        font-size: 22px;
        height: 30px;
    }

    .m-section4 .txt .play {
        margin-top: 15px;
    }

    .m-section4 .txt p {
        height: 30px;
    }

}

@media only screen and (max-width: 767px) {
.subMain{
margin-top:20px;
}
.subMain_box,.subMain .list_pic .ul_list05 {
    margin-top: 0px;
}


    .fd-con dl {
        width: auto;
        float: none;
        text-align: center;
        padding-left: 0;
        height: auto;
    }

    .fd-con dl dd {
        display: none;
    }

    .fd-con dt {
        margin-bottom: 0px;
        font-size: 14px;
    }

    .fd-top {
        padding: 15px 0;
    }

    .fd-copy {
        height: auto;
        line-height: 22px;
        text-align: center;
        padding: 5px 0;
    }

    .fd-copy .r-copy {
        float: none;
    }

    .fd-con .l-con {
        display: none;
    }
}

@media (max-width: 650px) {
    #hd-m .logo img {
        max-width: 500px;
        height: auto;
        max-height: 70%;
    }
}
@media (max-width: 600px) {
    #hd-m .logo img {
        max-width: 450px;
    }
}
@media (max-width: 550px) {
    #hd-m .logo img {
        max-width: 400px;
    }
}
@media (max-width: 500px) {
    #hd-m .logo img {
        max-width: 350px;
    }

.location-h {
    float: none !important;
  
    line-height: initial !important;
}
}
@media (max-width: 450px) {
    #hd-m .logo img {
        max-width: 300px;
    }
}
@media (max-width: 400px) {
    #hd-m .logo img {
        max-width: 250px;
    }
}
@media (max-width: 350px) {
    #hd-m .logo img {
        max-width: 200px;
    }
}